@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

.circle_aksesbilitas_popup {
  scale: 0.6;
}

@layer base {
  html {
    @apply bg-white dark:bg-gray-900;
  }

  body {
    @apply bg-white dark:bg-gray-900;
  }
}
